{
  "useTabs": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 110,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "bracketSameLine": false,
  "overrides": [
    {
      "files": ["*.svelte"],
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
