@import "tailwindcss";

.root-server-select-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: calc(var(--spacing) * 2);
  border-radius: var(--radius-lg);
  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  transition-timing-function: var(--ease-in-out);

  &:hover {
    @media (hover: hover) {
      background-color: color-mix(in oklab, var(--color-base-200) 90%, transparent);
    }
  }
}
