@import "tailwindcss";

.root-server-select-row {
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: calc(var(--spacing) * 2);
  border-radius: var(--radius-lg);
  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: calc(var(--tw-duration, var(--default-transition-duration)) * 0.75);
  transition-timing-function: var(--ease-in-out);

  &:hover {
    background-color: color-mix(in oklab, var(--color-primary) 90%, transparent);
    font-weight: bold;
  }
}
