discord-message {
  display: block;
  margin: 1rem;

  --discord-message-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --discord-message-font-size: 16px;
}

img.inline-image {
  display: inline-block;
  object-fit: contain;
  width: 1.375rem;
  height: 1.375rem;
  vertical-align: bottom;
  margin: 0;
}
