discord-message {
  display: block;
  margin: 1rem;
  font-family: var(--discord-message-font-family);

  --discord-message-font-family: "Whitney", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --discord-message-font-size: 16px;
}

img.inline-image {
  display: inline-block;
  object-fit: contain;
  width: 1.375rem;
  height: 1.375rem;
  vertical-align: bottom;
  margin: 0;
}

discord-strong {
  font-weight: 900;
}

@font-face {
  font-family: "Whitney";
  src: url("https://cdn.skyra.pw/whitney-font/v2/Book.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Whitney";
  src: url("https://cdn.skyra.pw/whitney-font/v2/Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Whitney";
  src: url("https://cdn.skyra.pw/whitney-font/v2/Semibold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Whitney";
  src: url("https://cdn.skyra.pw/whitney-font/v2/Bold.woff") format("woff");
  font-weight: 700;
}
