@import "tailwindcss";
@plugin "daisyui" {
  themes: nightV2 --default;
  prefix: "dy-";
}

@layer base {
  :root {
    --guild-header-height: 40px;
  }

  #guild-header {
    @apply text-sm;
    height: var(--guild-header-height);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-base-200);
  }

  .page-wrapper {
    @apply mt-10;
    display: block;
    position: relative;
    min-height: max-content;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
  }

  .desktop-nav-wrapper {
    display: block;
    position: fixed;
    top: var(--guild-header-height);
    bottom: 0;
    width: var(--sidebar-width);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid;
    border-color: var(--color-base-300);
  }

  nav.desktop-nav {
    @apply gap-2 p-2 pt-4 text-base;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    user-select: none;
    width: 100%;
    height: calc(100% - var(--footer-height));
    align-items: center;

    ul {
      @apply flex-row gap-1 md:flex-col;
      list-style: none;
      display: flex;
      flex-direction: column;
      width: 100%;

      li {
        width: 100%;
        position: relative;
        transition: background-color 0.25s ease-in-out;
      }

      li:has(.nav-btn:not(.active)) {
        background-color: transparent;
      }

      li:has(.nav-btn.active) {
        background-color: var(--color-base-300);
        border-radius: 0.5rem;
      }
    }

    footer {
      padding: 0;
      padding-top: 0.5rem;
    }

    .nav-btn {
      @apply gap-2 rounded-lg p-2 text-gray-400 transition-colors hover:bg-gray-800/50 hover:text-white;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      text-decoration: none;

      &.active {
        @apply text-primary bg-slate-700/30;
      }
    }
  }

  .content-wrapper {
    @apply ml-0 md:ml-(--sidebar-width);
    display: block;
    position: relative;
    padding-inline: 1rem;
    padding-top: 0.5rem;
    width: 100%;
    height: calc(100% - var(--footer-height));

    @media (min-width: 48rem) {
      width: calc(100% - var(--sidebar-width));
    }
  }

  main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-base-100/70);
    padding: 0.75rem;
  }
}

@layer components {
  .section-header {
    @apply mb-3 text-xl font-semibold;
  }

  .mobile-nav {
    @apply bg-neutral text-neutral-content/70 border-base-300;
    @apply gap-2 border-t-[1px] px-2 py-2.5;
    position: sticky;
    right: 0;
    left: 0;
    bottom: 0;
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    z-index: 10;
  }

  .discord-channel {
    @apply text-sm font-medium;
    @apply transition-colors duration-100 ease-in;
    background-color: color-mix(in oklab, var(--dc-blurple) 65%, transparent);
    max-width: 10rem;
    width: fit-content;
    display: grid;
    place-items: center;
    grid-template-columns: auto 1fr;
    gap: 0.2rem;
    cursor: pointer;
    color: #ffffff;
    align-items: center;
    justify-content: start;
    padding-inline: 0.25rem;
    padding-block: 0.1rem;
    border-radius: 0.3rem;
    user-select: none;

    &:hover {
      background-color: color-mix(in oklab, var(--dc-blurple) 100%, transparent);
    }

    svg {
      @apply h-4 w-4 min-w-4;
    }

    * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@layer utilities {
  .text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
