@import "tailwindcss";
@plugin "daisyui" {
  themes: nightV2 --default;
  prefix: "dy-";
}

@layer base {
  :root {
    --guild-header-height: 40px;
  }

  section {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  #guild-header {
    @apply text-sm shadow-lg;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--guild-header-height);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-base-200);
    z-index: 100;
  }

  .page-wrapper {
    @apply mt-10;
    display: block;
    position: relative;
    min-height: max-content;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
  }

  .desktop-nav-wrapper {
    display: block;
    position: fixed;
    top: var(--guild-header-height);
    bottom: 0;
    width: var(--sidebar-width);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid;
    border-color: var(--color-base-300);
  }

  nav.desktop-nav {
    @apply gap-2 p-2 pt-4 text-base;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    user-select: none;
    width: 100%;
    height: calc(100% - var(--footer-height));
    align-items: center;

    ul {
      @apply flex-row gap-1 md:flex-col;
      list-style: none;
      display: flex;
      flex-direction: column;
      width: 100%;

      li {
        width: 100%;
        position: relative;
        transition: all 0.25s ease-in-out;
      }

      li:has(.nav-btn:not(.active)) {
        background-color: transparent;
      }
    }

    footer {
      padding: 0;
      padding-top: 0.5rem;
    }

    .nav-btn {
      @apply text-primary-content hover:bg-neutral/30 gap-2 rounded-lg p-2 transition-all duration-100;
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      text-decoration: none;

      &.active {
        @apply from-primary bg-gradient-to-br to-cyan-500 font-semibold;
      }
    }
  }

  .content-wrapper {
    @apply ml-0 md:ml-(--sidebar-width);
    display: block;
    position: relative;
    padding-inline: 1rem;
    padding-top: 0.5rem;
    width: 100%;
    height: calc(100% - var(--footer-height));
    margin-top: var(--guild-header-height);

    @media (min-width: 48rem) {
      width: calc(100% - var(--sidebar-width));
    }
  }

  main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-base-100/70);
    padding: 0.75rem;
  }
}

@layer components {
  .section-header {
    @apply mb-3 text-xl font-semibold;
  }

  .mobile-nav {
    @apply bg-neutral text-neutral-content/70 border-base-300;
    @apply gap-2 border-t-[1px] px-2 py-2.5;
    position: sticky;
    right: 0;
    left: 0;
    bottom: 0;
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    z-index: 10;
  }

  .discord-mention {
    @apply text-sm font-medium;
    @apply transition-colors duration-100 ease-in;
    background-color: color-mix(in oklab, var(--dc-blurple) 65%, transparent);
    min-width: 4rem;
    max-width: 10rem;
    width: fit-content;
    user-select: none;
    border-radius: 0.3rem;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr auto;
    gap: 0.2rem;
    color: #ffffff;
    padding-inline: 0.25rem;
    padding-block: 0.1rem;

    &:hover {
      background-color: color-mix(in oklab, var(--dc-blurple) 90%, transparent);
    }

    svg {
      @apply size-4;
    }

    * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    /* Optional Classes for specific channel types */
    &.category {
      @apply text-gray-400;
      background-color: color-mix(in oklab, var(--color-slate-500) 40%, transparent);
      color: white;

      &:hover {
        background-color: color-mix(in oklab, var(--color-slate-500) 70%, transparent);
      }
    }
  }

  .dy-toggle {
    /* The toggle is very big by default */
    @apply dy-toggle-xs;
  }
}

@layer utilities {
  .discord-mention-action {
    @apply bg-base-200 p-0.5 transition-all duration-100 ease-in-out;
    position: absolute;
    display: grid;
    place-items: center;
    width: 50%;
    height: 100%;

    &:hover {
      @apply bg-slate-700;
    }
  }
}
