@layer base, theme, components, utilities;
@import "tailwindcss";

@plugin "daisyui" {
  themes: nightV2 --default;
  prefix: "dy-";
}

@plugin "daisyui/theme" {
  name: "nightV2";
  --color-base-100: oklch(20.768% 0.039 265.754);
  --color-base-200: oklch(27% 0.041 260.031);
  --color-base-300: oklch(37% 0.044 257.287);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(75.351% 0.138 232.661);
  --color-primary-content: oklch(15.07% 0.027 232.661);
  --color-secondary: oklch(68.011% 0.158 276.934);
  --color-secondary-content: oklch(13.602% 0.031 276.934);
  --color-accent: oklch(52% 0.223 3.958);
  --color-accent-content: oklch(94% 0.028 342.258);
  --color-neutral: oklch(27.949% 0.036 260.03);
  --color-neutral-content: oklch(96% 0.007 247.896);
  --color-info: oklch(68.455% 0.148 237.251);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(78.452% 0.132 181.911);
  --color-success-content: oklch(15.69% 0.026 181.911);
  --color-warning: oklch(83.242% 0.139 82.95);
  --color-warning-content: oklch(16.648% 0.027 82.95);
  --color-error: oklch(71.785% 0.17 13.118);
  --color-error-content: oklch(14.357% 0.034 13.118);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 0;
}

@layer base {
  :root {
    --dc-blurple: #5a65db;
    --dark-blurple: rgba(61, 72, 187, 0.8);
    --footer-height: 2.5rem;
    --sidebar-width: 14rem;
  }

  html {
    scroll-behavior: smooth;
    display: flex;
    max-width: screen;
    overflow: hidden;

    * {
      scrollbar-width: thin;
      scrollbar-color: var(--dc-blurple) var(--color-base-100);
    }
  }

  body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  @media (width >= 48rem) {
    body {
      font-size: 1.5rem;
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  button {
    cursor: pointer;
  }
}

/* Components */

@layer components {
  .btn-base-100 {
    --dy-btn-color: var(--color-base-100);
    --dy-btn-fg: var(--color-base-content);
  }

  .btn-base-200 {
    --dy-btn-color: var(--color-base-200);
    --dy-btn-fg: var(--color-base-content);
  }

  .btn-base-300 {
    --dy-btn-color: var(--color-base-300);
    --dy-btn-fg: var(--color-base-content);
  }

  .mobile-nav {
    @apply bg-neutral text-neutral-content/70 border-base-300;
    @apply gap-2 border-t-[1px] px-2 py-2.5;
    position: sticky;
    right: 0;
    left: 0;
    bottom: 0;
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    z-index: 10;
  }

  nav.desktop-nav {
    @apply gap-2 p-2 pt-4 text-base;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    user-select: none;
    width: 100%;
    height: 100%;
    align-items: center;

    ul {
      @apply flex-row md:flex-col;
      list-style: none;
      display: flex;
      flex-direction: column;
      width: 100%;

      li {
        width: 100%;
      }
    }

    footer {
      padding: 0;
      padding-top: 0.5rem;
    }

    .nav-btn {
      @apply gap-2 rounded-lg p-2 text-gray-400 transition-colors hover:bg-gray-800/50 hover:text-white;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      text-decoration: none;

      &.active {
        @apply text-primary bg-slate-700/30;
      }
    }
  }

  .discord-channel {
    @apply text-sm font-medium;
    @apply transition-colors duration-100 ease-in;
    background-color: color-mix(in oklab, var(--dc-blurple) 65%, transparent);
    max-width: 10rem;
    width: fit-content;
    display: inline-flex;
    gap: 0.2rem;
    cursor: pointer;
    color: #ffffff;
    align-items: center;
    justify-content: start;
    padding-inline: 0.25rem;
    padding-block: 0.1rem;
    border-radius: 0.5rem;
    user-select: none;

    &:hover {
      background-color: color-mix(in oklab, var(--dc-blurple) 100%, transparent);
    }

    svg {
      @apply h-4 w-4 min-w-4;
    }

    * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .footer-container {
    @apply gap-2 text-xs text-white/60;
    /* margin-top: max(auto, 2rem); */
    padding: 0.4rem;
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    a {
      @apply dy-link dy-link-hover;
    }
  }

  form.userdata {
    @apply flex w-full flex-col items-start justify-start gap-y-2 sm:max-w-3/5;

    fieldset {
      @apply dy-fieldset;

      legend {
        @apply dy-fieldset-legend;
      }

      label {
        @apply dy-fieldset-label;
      }

      select {
        @apply dy-select dy-select-primary;
      }
    }

    button {
      @apply dy-btn;
    }
  }

  div.settings-container {
    @apply rounded-lg p-0 md:p-4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;

    fieldset {
      @apply dy-fieldset rounded-lg px-4 drop-shadow-xl;
      background-color: var(--color-base-200);

      legend {
        @apply dy-fieldset-legend text-base;
      }

      > div.settings-row {
        @apply gap-3 pt-2 pb-4;
      }
    }
  }

  .server-id-button {
    @apply text-primary p-1 text-2xl font-bold transition-all duration-150 ease-linear;
    cursor: pointer;
    text-align: start;
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .plugin-card {
    @apply bg-base-200 hover:bg-base-300/70 transition-all duration-150 ease-linear;
    @apply w-full min-w-56 gap-2 rounded-lg p-3 shadow-md;
    align-items: start;
    justify-content: start;
    text-align: start;
    display: flex;
    flex-direction: column;
    flex: auto;
    cursor: pointer;

    h1 {
      @apply text-base font-semibold;
    }

    p {
      @apply text-sm font-normal;
    }
  }

  .root-server-select-row {
    @apply hover:bg-base-300 gap-x-2 rounded-lg transition-all duration-100 ease-in-out;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .save-alert-container {
    @apply bottom-16 px-4 py-2 md:bottom-0 md:ml-[18rem];
    margin-bottom: var(--footer-height);
    display: flex;
    justify-content: center;
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    height: fit-content;
    max-width: calc(100% - var(--footer-height));

    button {
      @apply dy-btn;
    }
  }

  .loader-spinning {
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side, var(--dc-blurple) 94%, #0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%, var(--dc-blurple));
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
  }

  .loader-spinning-green {
    background:
      radial-gradient(farthest-side, var(--color-success) 94%, #0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%, var(--color-success));
  }

  @keyframes l13 {
    100% {
      transform: rotate(1turn);
    }
  }
}

@layer utilities {
  .tooltip {
    @apply invisible absolute;
    @apply transition-all duration-100 ease-linear;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
    @apply transition-all duration-100 ease-linear;
  }

  .xy-center {
    justify-content: center;
    align-items: center;
    place-items: center;
  }

  .text-discord {
    color: var(--dc-blurple);
  }

  .bg-discord {
    background-color: var(--dc-blurple);
  }

  .server-select-icon {
    @apply aspect-square size-12 rounded-lg shadow-md md:size-24;
  }

  .server-select-btn {
    @apply dy-btn dy-btn-lg transition-colors duration-150 ease-linear;
  }

  .server-select-manage-btn {
    @apply dy-btn-success;
    @apply hover:dy-btn-warning focus:dy-btn-warning;
  }

  .server-select-setup-btn {
    @apply dy-btn-info dy-btn-outline border-2;
    @apply hover:dy-btn-secondary focus:dy-btn-secondary;
  }

  .server-card-name {
    @apply w-full truncate text-center text-lg select-none sm:text-xl;
  }

  .display-input {
    @apply text-sm;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    vertical-align: middle;
    padding-inline: 0.75rem;
    padding-block: 0.4rem;
    border: var(--border) solid var(--color-primary);
    border-radius: var(--radius-field);
    background-color: var(--color-base-100);
    cursor: text;
    user-select: text;
  }
}
