@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "tw-animate-css";
@import "@fontsource-variable/geist";
@import "@fontsource-variable/raleway";

@custom-variant dark (&:is(.dark *));

:root {
  --color-blurple: #5865f2;
  --discord-primary: #5865f2;
  --discord-primary-hover: #4752c4;
  --discord-secondary: #787878;
  --discord-secondary-hover: #535353;
  --discord-success: #23a55a;
  --discord-success-hover: #217739;
  --discord-danger: #f23f43;
  --discord-danger-hover: #b92d30;

  --font-geist-sans: "Geist Variable", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(54.813% 0.25012 262.439);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(91.355% 0.04355 285.481);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(50.762% 0.20762 28.185);
  --destructive-foreground: oklch(16.143% 0.04413 23.412);
  --success: oklch(72.963% 0.22953 142.785);
  --success-foreground: oklch(23.267% 0.06645 143.655);
  --warning: oklch(88.099% 0.16111 91.32);
  --warning-foreground: oklch(28.468% 0.05097 92.18);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.623 0.214 259.815);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.623 0.214 259.815);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.546 0.245 262.881);
  --primary-foreground: oklch(94.495% 0.02628 274.106);
  --secondary: oklch(92.224% 0 271.152);
  --secondary-foreground: oklch(0% 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(100% 0.00011 271.152);
  --destructive: oklch(58.162% 0.20037 25.509);
  --destructive-foreground: oklch(21.08% 0.07375 26.279);
  --success: oklch(72.963% 0.22953 142.785);
  --success-foreground: oklch(23.267% 0.06645 143.655);
  --warning: oklch(88.099% 0.16111 91.32);
  --warning-foreground: oklch(28.468% 0.05097 92.18);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.488 0.243 264.376);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.379 0.146 265.522);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.488 0.243 264.376);
}

@theme inline {
  --breakpoint-2xs: 20rem;
  --breakpoint-xs: 30rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-light: color-mix(in oklab, var(--sidebar-primary) 55%, white);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-blurple: var(--blurple);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  :root {
    --blurple: oklch(57.745% 0.20919 273.861);
  }

  * {
    @apply border-border outline-ring/50;
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--primary)) hsl(var(--muted));
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    overflow-y: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", var(--font-geist-sans), sans-serif;
  }

  button,
  a {
    cursor: pointer;
  }

  button[data-slot="button"] {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  button:not(.animate-none)[data-slot="button"] {
    &:active {
      transform: scale(98.5%);
    }
  }

  button:not(.animate-none)[data-slot="button"] {
    &:active {
      transform: scale(98.5%);
    }
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--muted));
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--primary));
  }
}

@layer components {
  [data-slot="mention-container"] {
    @apply gap-1 rounded-md px-2 py-1 transition;
    height: 28px;
    width: fit-content;
    min-width: 80px;
    max-width: 200px;
    background-color: color-mix(in oklab, var(--blurple) 65%, transparent);
    display: grid;
    grid-template-columns: auto;
    justify-content: start;
    place-items: center;
    align-items: center;
    animation-duration: 100ms;
    cursor: pointer;

    &:hover {
      background-color: color-mix(in oklab, var(--blurple) 90%, transparent);
    }

    span,
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    &:has(:nth-child(2)) {
      grid-template-columns: 14px auto;
    }

    &:hover {
      background-color: color-mix(in oklab, var(--blurple) 80%, transparent);
    }

    &:active {
      background-color: color-mix(in oklab, var(--blurple) 80%, transparent);
    }
  }

  .discord-btn {
    @apply rounded-md px-2 py-1 transition duration-150 ease-in-out;
    color: white;
    background-color: var(--discord-secondary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: start;
    gap: 8px;

    &:hover {
      background-color: var(--discord-secondary-hover);
    }
  }

  .discord-primary {
    background-color: var(--discord-primary);
    &:hover {
      background-color: var(--discord-primary-hover);
    }
  }

  .discord-secondary,
  .discord-link {
    background-color: var(--discord-secondary);
    &:hover {
      background-color: var(--discord-secondary-hover);
    }
  }

  .discord-success {
    background-color: var(--discord-success);
    &:hover {
      background-color: var(--discord-success-hover);
    }
  }

  .discord-danger {
    background-color: var(--discord-danger);
    &:hover {
      background-color: var(--discord-danger-hover);
    }
  }

  .discord-select {
    @apply rounded-md px-2.5 py-1.5 transition duration-150 ease-in-out;
    color: white;
    background-color: var(--discord-secondary-hover);
    border: none;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    min-width: 130px;
    max-width: 400px;
    width: 100%;

    &[data-state="active"] svg {
      transform: rotate(180deg);
    }
  }

  .discord-btn,
  .discord-select {
    input {
      @apply rounded border bg-transparent p-0.5 outline-0;
      color: color-mix(in oklab, white 90%, black);
      width: 100%;
      display: flex;
      flex-grow: 1;
      &::placeholder {
        color: color-mix(in oklab, white 60%, black);
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .card-destructive {
    @apply border-destructive/50 text-destructive;
    background-color: color-mix(in oklab, var(--destructive) 13%, var(--card));
  }
}

@layer utilities {
  .link {
    cursor: pointer;
    color: var(--color-blue-500);
    transition: all 100ms ease;

    &:not(.link-hover) {
      text-decoration: underline;
      &:hover {
        opacity: 90%;
      }
    }

    &.link-hover {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        opacity: 95%;
      }
    }
  }

  .md-link {
    @apply text-primary hover:underline;
    cursor: pointer;
  }

  .un {
    position: relative;
    display: inline-block;

    &.space-b {
      /* Spacing between element and underline */
      padding-bottom: 0.5rem;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: currentColor;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 300ms ease;
    }

    &.force-un {
      &::after {
        animation: force-underline 300ms ease forwards;
      }
    }
  }

  @keyframes force-underline {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }

  .bg-warning-subtle {
    background-color: color-mix(in oklab, var(--color-amber-400) 50%, var(--color-background));
  }
}

.animate-pulse-fast {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
