@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/geist";
@import "@fontsource-variable/raleway";

@custom-variant dark (&: is(.dark *));

@theme inline {
  --breakpoint-xs: 30rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-light: color-mix(in oklab, var(--sidebar-primary) 55%, white);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-blurple: var(--blurple);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --font-geist-sans: "Geist Variable", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --radius: 0.6rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0.003 249.21868948998485);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0.003 249.21868948998485);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0.003 249.21868948998485);
  --primary: oklch(0.611 0.213 256.7715510698568);
  --primary-foreground: oklch(0.961 0.002 249.6714687065196);
  --secondary: oklch(0.969 0.014 263.02234209660384);
  --secondary-foreground: oklch(0.205 0.022 262.5747322326081);
  --muted: oklch(0.969 0.014 263.02234209660384);
  --muted-foreground: oklch(0.645 0.023 262.952780884344);
  --accent: oklch(0.793 0.137 278.24496499815814);
  --accent-foreground: oklch(0.181 0.047 276.65061845137586);
  --destructive: oklch(0.58 0.237 28.43022926835137);
  --destructive-foreground: oklch(16.143% 0.04413 23.412);
  --border: oklch(0.922 0.003 17.208294632015928);
  --input: oklch(0.867 0.065 262.7591845741723);
  --ring: oklch(0.611 0.213 256.7715510698568);
  --chart-1: oklch(0.611 0.213 256.7715510698568);
  --chart-2: oklch(0.663 0.131 251.78231245699686);
  --chart-3: oklch(0.746 0.084 250.64173114258824);
  --chart-4: oklch(0.413 0.126 254.79228641250444);
  --chart-5: oklch(0.316 0.091 254.10399545770014);
  --sidebar: oklch(0.969 0.014 263.02234209660384);
  --sidebar-foreground: oklch(0.205 0.022 262.5747322326081);
  --sidebar-primary: oklch(0.611 0.213 256.7715510698568);
  --sidebar-primary-foreground: oklch(0.961 0.002 249.6714687065196);
  --sidebar-accent: oklch(0.793 0.137 278.24496499815814);
  --sidebar-accent-foreground: oklch(0.181 0.047 276.65061845137586);
  --sidebar-border: oklch(0.867 0.065 262.7591845741723);
  --sidebar-ring: oklch(0.611 0.213 256.7715510698568);
  --success: oklch(72.963% 0.22953 142.785);
  --success-foreground: oklch(23.267% 0.06645 143.655);
  --warning: oklch(91.296% 0.15093 96.781);
  --warning-foreground: oklch(29.534% 0.05358 99.877);
}

.dark {
  --background: oklch(0.189 0.016 250.3736214027973);
  --foreground: oklch(0.961 0.002 249.6714687065196);
  --card: oklch(0.232 0.023 250.4933025430468);
  --card-foreground: oklch(0.961 0.002 249.6714687065196);
  --popover: oklch(0.232 0.023 250.4933025430468);
  --popover-foreground: oklch(0.961 0.002 249.6714687065196);
  --primary: oklch(0.637 0.179 253.88111374431216);
  --primary-foreground: oklch(0.961 0.002 249.6714687065196);
  --secondary: oklch(0.305 0.133 261.1335652942548);
  --secondary-foreground: oklch(0.958 0.007 263.0398330159128);
  --muted: oklch(26.891% 0.02991 265.074);
  --muted-foreground: oklch(73.871% 0.03022 261.486);
  --accent: oklch(0.629 0.235 271.4209038238152);
  --accent-foreground: oklch(0.948 0.016 281.93382090544935);
  --destructive: oklch(63.7% 0.237 25.331);
  --destructive-foreground: oklch(22.371% 0.07821 26.269);
  --border: oklch(0.293 0.032 250.60158175412528);
  --input: oklch(37.918% 0.02161 267.475);
  --ring: oklch(0.637 0.179 253.88111374431216);
  --chart-1: oklch(0.637 0.179 253.88111374431216);
  --chart-2: oklch(0.703 0.13 251.55965954460652);
  --chart-3: oklch(0.784 0.097 250.7655449816792);
  --chart-4: oklch(0.453 0.114 252.9800886809752);
  --chart-5: oklch(0.36 0.068 251.650657951815);
  --sidebar: oklch(0.313 0.035 250.62713251048893);
  --sidebar-foreground: oklch(0.961 0.002 249.6714687065196);
  --sidebar-primary: oklch(0.637 0.179 253.88111374431216);
  --sidebar-primary-foreground: oklch(0.961 0.002 249.6714687065196);
  --sidebar-accent: oklch(0.629 0.235 271.4209038238152);
  --sidebar-accent-foreground: oklch(0.948 0.016 281.93382090544935);
  --sidebar-border: oklch(0.371 0.043 250.68547527659666);
  --sidebar-ring: oklch(0.637 0.179 253.88111374431216);
  --success: oklch(79.2% 0.209 151.711);
  --success-foreground: oklch(31.797% 0.09055 141.672);
  --warning: oklch(92.592% 0.14766 99.138);
  --warning-foreground: oklch(22.411% 0.04173 109.358);
}

@theme inline {
  --breakpoint-xs: 30rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-light: color-mix(in oklab, var(--sidebar-primary) 55%, white);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-blurple: var(--blurple);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  :root {
    --blurple: oklch(57.745% 0.20919 273.861);
  }

  * {
    @apply border-border outline-ring/50;
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--primary)) hsl(var(--muted));
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    overflow-y: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", var(--font-geist-sans), sans-serif;
  }

  button,
  a {
    cursor: pointer;
  }

  button[data-slot="button"] {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  button:not(.animate-none)[data-slot="button"] {
    &:active {
      transform: scale(98.5%);
    }
  }

  button:not(.animate-none)[data-slot="button"] {
    &:active {
      transform: scale(98.5%);
    }
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--muted));
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--primary));
  }
}

@layer components {
  [data-slot="mention-container"] {
    @apply gap-1 rounded-md px-2 py-1 transition;
    height: 28px;
    width: fit-content;
    min-width: 35px;
    max-width: 200px;
    background-color: color-mix(in oklab, var(--blurple) 80%, transparent);
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    align-items: center;
    animation-duration: 100ms;
    cursor: pointer;

    span,
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    &:has(:nth-child(2)) {
      grid-template-columns: 14px auto;
    }

    &:hover {
      background-color: color-mix(in oklab, var(--blurple) 80%, transparent);
    }

    &:active {
      background-color: color-mix(in oklab, var(--blurple) 80%, transparent);
    }
  }

  .card-destructive {
    @apply border-destructive/50 text-destructive;
    background-color: color-mix(in oklab, var(--destructive) 13%, var(--card));
  }
}

@layer utilities {
  .link {
    cursor: pointer;
    color: var(--color-blue-500);
    transition: all 100ms ease;

    &:not(.link-hover) {
      text-decoration: underline;
      &:hover {
        opacity: 90%;
      }
    }

    &.link-hover {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        opacity: 95%;
      }
    }
  }

  .md-link {
    @apply text-primary hover:underline;
    cursor: pointer;
  }

  .un {
    position: relative;
    display: inline-block;

    &.space-b {
      /* Spacing between element and underline */
      padding-bottom: 0.5rem;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: currentColor;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 300ms ease;
    }

    &.force-un {
      &::after {
        animation: force-underline 300ms ease forwards;
      }
    }
  }

  @keyframes force-underline {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
}
